x-environment-vars: &environment-vars
  DOMAIN: ${DOMAIN?Variable not set}
  ENVIRONMENT: ${ENVIRONMENT?Variable not set}
  PROJECT_NAME: ${PROJECT_NAME?Variable not set}
  FRONTEND_HOST: ${FRONTEND_HOST?Variable not set}
  SECRET_KEY: ${SECRET_KEY?Variable not set}
  ROOT_USER_PASSWORD: ${ROOT_USER_PASSWORD?Variable not set}
  MYSQL_SERVER: ${MYSQL_SERVER?Variable not set}
  MYSQL_USER: ${MYSQL_CURRENT_USER?Variable not set}
  MYSQL_PASSWORD: ${MYSQL_ROOT_PASSWORD?Variable not set}
  REDIS_URL: ${REDIS_URL?Variable not set}
  RABBITMQ_SERVER: ${RABBITMQ_SERVER?Variable not set}
  RABBITMQ_PORT: ${RABBITMQ_PORT?Variable not set}
  RABBITMQ_USER: ${RABBITMQ_USER?Variable not set}
  RABBITMQ_PASSWORD: ${RABBITMQ_PASSWORD?Variable not set}

x-build: &build
  platform: linux/amd64
  env_file:
    - .env
  healthcheck:
    test: ["CMD", "curl", "-f", "http://localhost:8000/utils/health"]
    interval: 10s
    timeout: 5s
    retries: 5

services:
  proxy:
    image: traefik:3.1.6
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "80:80"
    command:
      - --providers.docker
      - --providers.docker.constraints=Label(`traefik.constraint-label`, `traefik-public`)
      - --providers.docker.exposedbydefault=false
      - --entrypoints.http.address=:80
      - --entrypoints.https.address=:443
      - --accesslog
      - --log
      - --log.level=DEBUG
      - --api
      - --api.insecure=true
    labels:
      - traefik.enable=true
      - traefik.constraint-label=traefik-public
      - traefik.http.middlewares.https-redirect.contenttype.autodetect=false
      - traefik.http.routers.traefik-dashboard.rule=Host(`traefik.${DOMAIN?Variable not set}`)
      - traefik.http.routers.traefik-dashboard.entrypoints=http
      - traefik.http.routers.traefik-dashboard.service=api@internal
      - traefik.http.services.traefik-dashboard.loadbalancer.server.port=80
    networks:
      - traefik-public
      - default

  mysql:
    image: mysql:8.0
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD?Variable not set}
    volumes:
      - mysql-data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    networks:
      - default

  redis:
    image: redis:6
    networks:
      - default
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s

  rabbitmq:
    image: rabbitmq:3-management
    environment:
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_USER?Variable not set}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_PASSWORD?Variable not set}
    networks:
      - traefik-public
      - default
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
    labels:
      - traefik.enable=true
      - traefik.docker.network=traefik-public
      - traefik.constraint-label=traefik-public
      - traefik.http.routers.${STACK_NAME?Variable not set}-rabbitmq-http.rule=Host(`rabbitmq.${DOMAIN?Variable not set}`)
      - traefik.http.routers.${STACK_NAME?Variable not set}-rabbitmq-http.entrypoints=http
      - traefik.http.services.${STACK_NAME?Variable not set}-rabbitmq.loadbalancer.server.port=15672

  adminer:
    image: adminer
    networks:
      - traefik-public
      - default
    depends_on:
      - mysql
    environment:
      - ADMINER_DESIGN=pepa-linha-dark
    labels:
      - traefik.enable=true
      - traefik.docker.network=traefik-public
      - traefik.constraint-label=traefik-public
      - traefik.http.routers.${STACK_NAME?Variable not set}-adminer-http.rule=Host(`adminer.${DOMAIN?Variable not set}`)
      - traefik.http.routers.${STACK_NAME?Variable not set}-adminer-http.entrypoints=http
      - traefik.http.services.${STACK_NAME?Variable not set}-adminer.loadbalancer.server.port=8080

  prestart-auth:
    build:
      context: ./services/auth
    networks:
      - traefik-public
      - default
    depends_on:
      mysql:
        condition: service_healthy
        restart: true
      redis:
        condition: service_healthy
        restart: true
      rabbitmq:
        condition: service_healthy
        restart: true
    command: bash /app/scripts/prestart.sh
    volumes:
      - ./libs:/app/libs
    environment:
      <<: *environment-vars
      MYSQL_DATABASE: ${AUTH_DATABASE?Variable not set}
    <<: *build

  prestart-users:
    build:
      context: ./services/users
    networks:
      - traefik-public
      - default
    depends_on:
      mysql:
        condition: service_healthy
        restart: true
      redis:
        condition: service_healthy
        restart: true
      rabbitmq:
        condition: service_healthy
        restart: true
    command: bash /app/scripts/prestart.sh
    volumes:
      - ./libs:/app/libs
    environment:
      <<: *environment-vars
      MYSQL_DATABASE: ${USERS_DATABASE?Variable not set}
    <<: *build

  prestart-emails:
    build:
      context: ./services/emails
    networks:
      - traefik-public
      - default
    depends_on:
      mysql:
        condition: service_healthy
        restart: true
      redis:
        condition: service_healthy
        restart: true
      rabbitmq:
        condition: service_healthy
        restart: true
    command: bash /app/scripts/prestart.sh
    volumes:
      - ./libs:/app/libs
    environment:
      <<: *environment-vars
      MYSQL_DATABASE: ${EMAILS_DATABASE?Variable not set}
    <<: *build

  prestart-tasks:
    build:
      context: ./services/tasks
    networks:
      - traefik-public
      - default
    depends_on:
      mysql:
        condition: service_healthy
        restart: true
      redis:
        condition: service_healthy
        restart: true
      rabbitmq:
        condition: service_healthy
        restart: true
    command: bash /app/scripts/prestart.sh
    volumes:
      - ./libs:/app/libs
    environment:
      <<: *environment-vars
    <<: *build

  auth-service:
    build:
      context: ./services/auth
    command:
      - fastapi
      - run
      - --reload
      - "src/main.py"
      - "--no-proxy-headers"
    develop:
      watch:
        - path: ./services/auth
          action: sync
          target: /app
          ignore:
            - src/alembic
            - htmlcov
            - libs
            - .venv
        - path: ./services/auth/pyproject.toml
          action: rebuild
    volumes:
      - ./libs:/app/libs
      - ./services/auth/htmlcov:/app/htmlcov
      - ./services/auth/src/alembic:/app/src/alembic
    environment:
      <<: *environment-vars
      MYSQL_DATABASE: ${AUTH_DATABASE?Variable not set}
    <<: *build
    restart: always
    depends_on:
      mysql:
        condition: service_healthy
        restart: true
      redis:
        condition: service_healthy
        restart: true
      rabbitmq:
        condition: service_healthy
        restart: true
      prestart-auth:
        condition: service_completed_successfully
    networks:
      - traefik-public
      - default
    labels:
      - traefik.enable=true
      - traefik.docker.network=traefik-public
      - traefik.constraint-label=traefik-public
      - traefik.http.services.${STACK_NAME?Variable not set}-auth.loadbalancer.server.port=8000
      - traefik.http.routers.${STACK_NAME?Variable not set}-auth-http.rule=Host(`auth.${DOMAIN?Variable not set}`)
      - traefik.http.routers.${STACK_NAME?Variable not set}-auth-http.entrypoints=http

  users-service:
    build:
      context: ./services/users
    command:
      - fastapi
      - run
      - --reload
      - "src/main.py"
      - "--no-proxy-headers"
    develop:
      watch:
        - path: ./services/users
          action: sync
          target: /app
          ignore:
            - src/alembic
            - htmlcov
            - libs
            - .venv
        - path: ./services/users/pyproject.toml
          action: rebuild
    volumes:
      - ./libs:/app/libs
      - ./services/users/htmlcov:/app/htmlcov
      - ./services/users/src/alembic:/app/src/alembic
    environment:
      <<: *environment-vars
      MYSQL_DATABASE: ${USERS_DATABASE?Variable not set}
    <<: *build
    restart: always
    depends_on:
      mysql:
        condition: service_healthy
        restart: true
      redis:
        condition: service_healthy
        restart: true
      rabbitmq:
        condition: service_healthy
        restart: true
      prestart-users:
        condition: service_completed_successfully
    networks:
      - traefik-public
      - default
    labels:
      - traefik.enable=true
      - traefik.docker.network=traefik-public
      - traefik.constraint-label=traefik-public
      - traefik.http.services.${STACK_NAME?Variable not set}-users.loadbalancer.server.port=8000
      - traefik.http.routers.${STACK_NAME?Variable not set}-users-http.rule=Host(`users.${DOMAIN?Variable not set}`)
      - traefik.http.routers.${STACK_NAME?Variable not set}-users-http.entrypoints=http

  emails-service:
    build:
      context: ./services/emails
    command:
      - fastapi
      - run
      - --reload
      - "src/main.py"
      - "--no-proxy-headers"
    develop:
      watch:
        - path: ./services/emails
          action: sync
          target: /app
          ignore:
            - src/alembic
            - htmlcov
            - libs
            - .venv
        - path: ./services/emails/pyproject.toml
          action: rebuild
    volumes:
      - ./libs:/app/libs
      - ./services/emails/htmlcov:/app/htmlcov
      - ./services/emails/src/alembic:/app/src/alembic
    environment:
      <<: *environment-vars
      MYSQL_DATABASE: ${EMAILS_DATABASE?Variable not set}
    <<: *build
    restart: always
    depends_on:
      mysql:
        condition: service_healthy
        restart: true
      redis:
        condition: service_healthy
        restart: true
      rabbitmq:
        condition: service_healthy
        restart: true
      prestart-emails:
        condition: service_completed_successfully
    networks:
      - traefik-public
      - default
    labels:
      - traefik.enable=true
      - traefik.docker.network=traefik-public
      - traefik.constraint-label=traefik-public
      - traefik.http.services.${STACK_NAME?Variable not set}-emails.loadbalancer.server.port=8000
      - traefik.http.routers.${STACK_NAME?Variable not set}-emails-http.rule=Host(`emails.${DOMAIN?Variable not set}`)
      - traefik.http.routers.${STACK_NAME?Variable not set}-emails-http.entrypoints=http

  emails-worker:
    build:
      context: ./services/emails
    command: celery -A src.tasks.c_app worker --loglevel=INFO
    develop:
      watch:
        - path: ./services/emails
          action: sync
          target: /app
          ignore:
            - src/alembic
            - htmlcov
            - libs
            - .venv
        - path: ./services/emails/pyproject.toml
          action: rebuild
    volumes:
      - ./libs:/app/libs
      - ./services/emails/htmlcov:/app/htmlcov
      - ./services/emails/src/alembic:/app/src/alembic
    environment:
      <<: *environment-vars
      MYSQL_DATABASE: ${EMAILS_DATABASE?Variable not set}
    <<: *build
    restart: always
    depends_on:
      emails-service:
        condition: service_healthy
        restart: true
    networks:
      - default

  tasks-service:
    build:
      context: ./services/tasks
    command:
      - fastapi
      - run
      - --reload
      - "src/main.py"
      - "--no-proxy-headers"
    develop:
      watch:
        - path: ./services/tasks
          action: sync
          target: /app
          ignore:
            - htmlcov
            - libs
            - .venv
        - path: ./services/tasks/pyproject.toml
          action: rebuild
    volumes:
      - ./libs:/app/libs
      - ./services/tasks/htmlcov:/app/htmlcov
    environment:
      <<: *environment-vars
    <<: *build
    restart: always
    depends_on:
      mysql:
        condition: service_healthy
        restart: true
      redis:
        condition: service_healthy
        restart: true
      rabbitmq:
        condition: service_healthy
        restart: true
      prestart-tasks:
        condition: service_completed_successfully
    networks:
      - traefik-public
      - default
    labels:
      - traefik.enable=true
      - traefik.docker.network=traefik-public
      - traefik.constraint-label=traefik-public
      - traefik.http.services.${STACK_NAME?Variable not set}-tasks.loadbalancer.server.port=8000
      - traefik.http.routers.${STACK_NAME?Variable not set}-tasks-http.rule=Host(`tasks.${DOMAIN?Variable not set}`)
      - traefik.http.routers.${STACK_NAME?Variable not set}-tasks-http.entrypoints=http

volumes:
  mysql-data:
  rabbitmq-data:

networks:
  traefik-public:
    external: false
