services:

  proxy:
    image: traefik:3.1.6
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "80:80"
    command:
      - --providers.docker
      - --providers.docker.constraints=Label(`traefik.constraint-label`, `traefik-public`)
      - --providers.docker.exposedbydefault=false
      - --entrypoints.http.address=:80
      - --entrypoints.https.address=:443
      - --accesslog
      - --log
      - --log.level=DEBUG
      - --api
      - --api.insecure=true
    labels:
      - traefik.enable=true
      - traefik.constraint-label=traefik-public
      - traefik.http.middlewares.https-redirect.contenttype.autodetect=false
      - traefik.http.routers.traefik-dashboard.rule=Host(`traefik.${DOMAIN?Variable not set}`)
      - traefik.http.routers.traefik-dashboard.entrypoints=http
      - traefik.http.routers.traefik-dashboard.service=api@internal
      - traefik.http.services.traefik-dashboard.loadbalancer.server.port=80
    networks:
      - traefik-public
      - default
    restart: "no"

  db:
    restart: "no"

  redis:
    restart: "no"

  adminer:
    image: adminer
    restart: "no"
    networks:
      - traefik-public
      - default
    depends_on:
      - db
    environment:
      - ADMINER_DESIGN=pepa-linha-dark
    labels:
      - traefik.enable=true
      - traefik.docker.network=traefik-public
      - traefik.constraint-label=traefik-public
      - traefik.http.routers.${STACK_NAME?Variable not set}-adminer-http.rule=Host(`adminer.${DOMAIN?Variable not set}`)
      - traefik.http.routers.${STACK_NAME?Variable not set}-adminer-http.entrypoints=http
      - traefik.http.routers.${STACK_NAME?Variable not set}-adminer-http.middlewares=https-redirect
      - traefik.http.routers.${STACK_NAME?Variable not set}-adminer-https.rule=Host(`adminer.${DOMAIN?Variable not set}`)
      - traefik.http.routers.${STACK_NAME?Variable not set}-adminer-https.entrypoints=https
      - traefik.http.routers.${STACK_NAME?Variable not set}-adminer-https.tls=true
      - traefik.http.routers.${STACK_NAME?Variable not set}-adminer-https.tls.certresolver=le
      - traefik.http.services.${STACK_NAME?Variable not set}-adminer.loadbalancer.server.port=8080

  auth-service:
    restart: "no"
    build:
      context: ./services/auth
    environment:
      - PYTHONASYNCIODEBUG=1
    command:
      - fastapi
      - run
      - --reload
      - "app/main.py"
    develop:
      watch:
        - path: ./services/auth
          action: sync
          target: /app
          ignore:
            - app/alembic
            - htmlcov
    volumes:
      - ./services/auth/htmlcov:/app/htmlcov
      - ./services/auth/app/alembic:/app/app/alembic
      # - ./services/shared_lib:/app/shared_lib

  users-service:
    restart: "no"
    build:
      context: ./services/users
    environment:
      - PYTHONASYNCIODEBUG=1
    command:
      - fastapi
      - run
      - --reload
      - "app/main.py"
    develop:
      watch:
        - path: ./services/users
          action: sync
          target: /app
          ignore:
            - app/alembic
            - htmlcov
    volumes:
      - ./services/users/htmlcov:/app/htmlcov
      - ./services/users/app/alembic:/app/app/alembic
      # - ./services/shared_lib:/app/shared_lib

volumes:
  app-db-data:

networks:
  traefik-public:
    external: false
