services:
  proxy:
    image: traefik:3.1.6
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "80:80"
    command:
      - --providers.docker
      - --providers.docker.constraints=Label(`traefik.constraint-label`, `traefik-public`)
      - --providers.docker.exposedbydefault=false
      - --entrypoints.http.address=:80
      - --entrypoints.https.address=:443
      - --accesslog
      - --log
      - --log.level=DEBUG
      - --api
      - --api.insecure=true
    labels:
      - traefik.enable=true
      - traefik.constraint-label=traefik-public
      - traefik.http.middlewares.https-redirect.contenttype.autodetect=false
      - traefik.http.routers.traefik-dashboard.rule=Host(`traefik.${DOMAIN?Variable not set}`)
      - traefik.http.routers.traefik-dashboard.entrypoints=http
      - traefik.http.routers.traefik-dashboard.service=api@internal
      - traefik.http.services.traefik-dashboard.loadbalancer.server.port=80
    networks:
      - traefik-public
      - default

  db:
    image: mysql:8.0
    env_file:
      - .env
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
    volumes:
      - db-data:/var/lib/mysql
      - ./mysql:/docker-entrypoint-initdb.d/:ro
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    networks:
      - default

  redis:
    image: redis:6
    networks:
      - default
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s

  adminer:
    image: adminer
    networks:
      - traefik-public
      - default
    depends_on:
      - db
    environment:
      - ADMINER_DESIGN=pepa-linha-dark
    labels:
      - traefik.enable=true
      - traefik.docker.network=traefik-public
      - traefik.constraint-label=traefik-public
      - traefik.http.routers.${STACK_NAME?Variable not set}-adminer-http.rule=Host(`adminer.${DOMAIN?Variable not set}`)
      - traefik.http.routers.${STACK_NAME?Variable not set}-adminer-http.entrypoints=http
      - traefik.http.routers.${STACK_NAME?Variable not set}-adminer-http.middlewares=https-redirect
      - traefik.http.routers.${STACK_NAME?Variable not set}-adminer-https.rule=Host(`adminer.${DOMAIN?Variable not set}`)
      - traefik.http.routers.${STACK_NAME?Variable not set}-adminer-https.entrypoints=https
      - traefik.http.routers.${STACK_NAME?Variable not set}-adminer-https.tls=true
      - traefik.http.routers.${STACK_NAME?Variable not set}-adminer-https.tls.certresolver=le
      - traefik.http.services.${STACK_NAME?Variable not set}-adminer.loadbalancer.server.port=8080

  prestart-auth:
    build:
      context: ./services/auth
    networks:
      - traefik-public
      - default
    depends_on:
      db:
        condition: service_healthy
        restart: true
      redis:
        condition: service_healthy
        restart: true
    command: bash /app/scripts/prestart.sh
    env_file:
      - .env
    environment:
      - DOMAIN=${DOMAIN?Variable not set}
      - ENVIRONMENT=${ENVIRONMENT?Variable not set}
      - PROJECT_NAME=${PROJECT_NAME?Variable not set}
      - FRONTEND_HOST=${FRONTEND_HOST?Variable not set}
      - BACKEND_CORS_ORIGINS=${BACKEND_CORS_ORIGINS?Variable not set}
      - SECRET_KEY=${SECRET_KEY?Variable not set}
      - MYSQL_SERVER=${MYSQL_SERVER?Variable not set}
      - MYSQL_DATABASE=${USERS_AUTH_DB?Variable not set}
      - MYSQL_USER=${MYSQL_CURRENT_USER?Variable not set}
      - MYSQL_PASSWORD=${MYSQL_ROOT_PASSWORD?Variable not set}
      - REDIS_URL=redis://redis:6379
      - REDIS_TOKENS_URL=${REDIS_TOKENS_URL?Variable not set}
    platform: linux/amd64
    volumes:
      - ./libs:/app/libs

  prestart-users:
    build:
      context: ./services/users
    networks:
      - traefik-public
      - default
    depends_on:
      db:
        condition: service_healthy
        restart: true
      redis:
        condition: service_healthy
        restart: true
    command: bash /app/scripts/prestart.sh
    env_file:
      - .env
    environment:
      - DOMAIN=${DOMAIN?Variable not set}
      - ENVIRONMENT=${ENVIRONMENT?Variable not set}
      - PROJECT_NAME=${PROJECT_NAME?Variable not set}
      - FRONTEND_HOST=${FRONTEND_HOST?Variable not set}
      - BACKEND_CORS_ORIGINS=${BACKEND_CORS_ORIGINS?Variable not set}
      - SECRET_KEY=${SECRET_KEY?Variable not set}
      - MYSQL_SERVER=${MYSQL_SERVER?Variable not set}
      - MYSQL_DATABASE=${USERS_AUTH_DB?Variable not set}
      - MYSQL_USER=${MYSQL_CURRENT_USER?Variable not set}
      - MYSQL_PASSWORD=${MYSQL_ROOT_PASSWORD?Variable not set}
      - REDIS_URL=redis://redis:6379
      - REDIS_TOKENS_URL=${REDIS_TOKENS_URL?Variable not set}
    platform: linux/amd64
    volumes:
      - ./libs:/app/libs

  auth-service:
    build:
      context: ./services/auth
    command:
      - fastapi
      - run
      - --reload
      - "app/main.py"
    develop:
      watch:
        - path: ./services/auth
          action: sync
          target: /app
          ignore:
            - app/alembic
            - htmlcov
            - libs
    env_file:
      - .env
    environment:
      - PYTHONASYNCIODEBUG=1
      - DOMAIN=${DOMAIN?Variable not set}
      - ENVIRONMENT=${ENVIRONMENT?Variable not set}
      - PROJECT_NAME=${PROJECT_NAME?Variable not set}
      - FRONTEND_HOST=${FRONTEND_HOST?Variable not set}
      - BACKEND_CORS_ORIGINS=${BACKEND_CORS_ORIGINS?Variable not set}
      - SECRET_KEY=${SECRET_KEY?Variable not set}
      - MYSQL_SERVER=${MYSQL_SERVER?Variable not set}
      - MYSQL_DATABASE=${USERS_AUTH_DB?Variable not set}
      - MYSQL_USER=${MYSQL_CURRENT_USER?Variable not set}
      - MYSQL_PASSWORD=${MYSQL_ROOT_PASSWORD?Variable not set}
      - REDIS_URL=redis://redis:6379
      - REDIS_TOKENS_URL=${REDIS_TOKENS_URL?Variable not set}
    restart: always
    platform: linux/amd64
    depends_on:
      db:
        condition: service_healthy
        restart: true
      redis:
        condition: service_healthy
        restart: true
      prestart-auth:
        condition: service_completed_successfully
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/utils/health"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - traefik-public
      - default
    volumes:
      - ./services/auth/htmlcov:/app/htmlcov
      - ./services/auth/app/alembic:/app/app/alembic
      - ./libs:/app/libs
    labels:
      - traefik.enable=true
      - traefik.docker.network=traefik-public
      - traefik.constraint-label=traefik-public

      - traefik.http.services.${STACK_NAME?Variable not set}-auth.loadbalancer.server.port=8000

      - traefik.http.routers.${STACK_NAME?Variable not set}-auth-http.rule=Host(`auth.${DOMAIN?Variable not set}`)
      - traefik.http.routers.${STACK_NAME?Variable not set}-auth-http.entrypoints=http

  users-service:
      build:
        context: ./services/users
      command:
        - fastapi
        - run
        - --reload
        - "app/main.py"
      develop:
        watch:
          - path: ./services/users
            action: sync
            target: /app
            ignore:
              - htmlcov
              - libs
      env_file:
        - .env
      environment:
        - PYTHONASYNCIODEBUG=1
        - DOMAIN=${DOMAIN?Variable not set}
        - ENVIRONMENT=${ENVIRONMENT?Variable not set}
        - PROJECT_NAME=${PROJECT_NAME?Variable not set}
        - FRONTEND_HOST=${FRONTEND_HOST?Variable not set}
        - BACKEND_CORS_ORIGINS=${BACKEND_CORS_ORIGINS?Variable not set}
        - SECRET_KEY=${SECRET_KEY?Variable not set}
        - MYSQL_SERVER=${MYSQL_SERVER?Variable not set}
        - MYSQL_DATABASE=${USERS_AUTH_DB?Variable not set}
        - MYSQL_USER=${MYSQL_CURRENT_USER?Variable not set}
        - MYSQL_PASSWORD=${MYSQL_ROOT_PASSWORD?Variable not set}
        - REDIS_URL=${REDIS_URL?Variable not set}
        - REDIS_TOKENS_URL=${REDIS_TOKENS_URL?Variable not set}
      restart: always
      platform: linux/amd64
      depends_on:
        db:
          condition: service_healthy
          restart: true
        redis:
          condition: service_healthy
          restart: true
        prestart-users:
          condition: service_completed_successfully
      healthcheck:
        test: ["CMD", "curl", "-f", "http://localhost:8000/utils/health"]
        interval: 10s
        timeout: 5s
        retries: 5
      networks:
        - traefik-public
        - default
      volumes:
        - ./services/users/htmlcov:/app/htmlcov
        - ./libs:/app/libs
      labels:
        - traefik.enable=true
        - traefik.docker.network=traefik-public
        - traefik.constraint-label=traefik-public

        - traefik.http.services.${STACK_NAME?Variable not set}-users.loadbalancer.server.port=8000

        - traefik.http.routers.${STACK_NAME?Variable not set}-users-http.rule=Host(`users.${DOMAIN?Variable not set}`)
        - traefik.http.routers.${STACK_NAME?Variable not set}-users-http.entrypoints=http

volumes:
  db-data:

networks:
  traefik-public:
    external: false
