architecture: standalone

auth:
  enabled: true
  password: CHANGETHIS

persistence:
  enabled: true
  size: 8Gi

resources:
  requests:
    memory: 256Mi
    cpu: 100m
  limits:
    memory: 512Mi
    cpu: 500m
