{% set title = "Password Change" %}

{% extends "base.html" %}

{% set show_signature = true %}
{% set show_unsubscribe = false %}

{% block body %}
  <p style="margin: 0 0 25px;">Hi {{ username }},</p>
  <p style="margin: 0 0 25px;">Your password has been successfully changed.</p>
  <p>If you did not initiate this change, please <a href="{{ password_reset_link }}" target="_blank" style="word-wrap: break-word; text-decoration: none; color: {{ primaryColor }};">reset your password</a> immediately or contact our support team.</p>

{% endblock %}
