apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: auth
  namespace: default

spec:
  rules:
    - host: auth.blndly.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: auth
                port:
                  number: 8000
    - host: www.auth.blndly.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: auth
                port:
                  number: 8000
