name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Debug Output
        run: |
          echo "Checking file permissions in /app/htmlcov"
          ls -al /app/htmlcov
          echo "Checking user info"
          id appuser
          echo "Current working directory"
          pwd
          echo "Current user"
          whoami
          echo "Trying to create a file in htmlcov"
          touch /app/htmlcov/testfile
          ls -al /app/htmlcov

      - name: Checkout
        uses: actions/checkout@v4
      - run: bash scripts/test.sh
